.ButtonPanel{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ClearEqual{
    display: flex;
    flex-direction: row;
}
.Numbers div .buttons:nth-child(10){
    width: 187.5px;
}
.Numbers div .buttons:nth-child(11){
    width: 187.5px;
}
.Operator button{
    background-color: rgb(96, 122, 192);
}
.EqualButton .buttons{
    background-color: rgb(96, 122, 192);
    width: 250px;
}
.Operator button:hover,
.EqualButton .buttons:hover{
    background-color: rgb(62, 84, 145);
}
.Clear .buttons{
    background-color: rgb(194, 67, 67);
    width: 250px;
}
.Clear .buttons:hover{
    background-color: rgb(148, 42, 42);
}
.Save .buttons{
    width: 100%;
    background-color: rgb(136, 214, 110);
}
.Save .buttons:hover{
    background-color: rgb(85, 155, 64);
}



